.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart {
  width: 100%;
  position: relative;
  top: 70px;
  max-width: 600px;
  margin: 1em;
  border: 0.5px solid silver;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgb(19, 49, 81) 0px 20px 30px -10px;
  
}
@media (min-width: 375px) {
  .chart {
    width: 75%;
  }
}

@media (min-width: 576px) {
  .chart {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .chart {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .chart {
    width: 33.33%;
  }
}

@media (min-width: 1200px) {
  .chart {
    width: 50%;
  }
}
